:root {
    --background: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --blur: #996DFF;
    --border: #29292E;
    --text-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

html {
    background-color: var(--background);
}

html * {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

#root {
    min-height: 100vh;
}

* img::selection, * img:active {
    background-color: #fff0;
}